{% extends 'Processor/base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Домашняя страница</title>
</head>
<body>

{% block content %}
    {% if user.is_authenticated %}

        <h2>Добро пожаловать, {{ user.username }}!</h2>
            <a href="{% url 'download_files' %}">Скачать файлы</a>
        <h2>Загрузите CSV файл</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Загрузить</button>
            </form>
    {% else %}

        <h2>Добро пожаловать!</h2>
        <p>Пожалуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>.</p>
    {% endif %}
{% endblock %}
</body>
</html>